.cover-image {
  $cover-image: &;
  align-items: center;
  background-position: center;
  background-size: 100% auto;
  bottom: rem(58);
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  &:hover {
    #{$cover-image}__placeholder {
      top: 50%;
      opacity: 1;
      visibility: visible;
    }
  }

  &__placeholder {
    background-color: white;
    border: rem(1) solid #d0dce7;
    border-radius: rem(2);
    color: #3f454a;
    cursor: pointer;
    font-size: rem(15);
    font-weight: 400;
    line-height: rem(14);
    left: 50%;
    top: 0;
    margin-top: -30vh;
    opacity: 0;
    padding: rem(10) rem(20);
    position: absolute;
    transform: translateX(-50%);
    transition: all 200ms ease-in-out;
    visibility: hidden;
    white-space: nowrap;
    z-index: 120;

    &:hover {
      border-color: $blue;
      background-color: $blue;
      color: white;
    }

    @media (min-width: $media-sm) {
      margin-top: rem(-60);
    }
  }

  &__input {
    display: none;
  }

  &__image {
    height: auto;
    width: auto;
    min-height: 120%;
    z-index: 100;
    transition: all 150ms ease-in-out;

    @media (min-width: $media-sm) {
      min-width: 100%;
    }

    &[alt=""] {
      display: none;

      & ~ #{$cover-image}__placeholder {
        top: 50%;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}