.edit-profile {
  background-color: white;
  box-shadow: 0 rem(2) rem(10) rem(-5) #bdc4c9;
  display: block;
  left: 0;
  padding: rem(60) rem(20) rem(50);
  position: absolute;
  margin-bottom: rem(35);
  top: 0;
  width: 100%;
  z-index: 50;

  @media (min-width: $media-sm) {
    box-shadow: 0 0 rem(25) 0 rgb(189, 196, 201);
    margin-bottom: 0;
    padding: rem(20);
    position: absolute;
    top: rem(-10);
    width: rem(300);
  }

  &:before {
    border-right: rem(12) solid white;
    border-bottom: rem(12) solid transparent;
    border-top: rem(12) solid transparent;
    content: '';
    left: rem(-12);
    top: rem(18);
    position: absolute;
  }

  &__list {
    display: block;
  }

  &__item {
    position: relative;
  }

  &__input {
    border: 0 none;
    color: #6a747e;
    display: block;
    border-bottom: rem(1) solid #d0dce7;
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(20);
    padding: rem(25) 0 rem(5);
    height: rem(50);
    margin-bottom: rem(12);
    outline: none;
    width: 100%;
    transition: all 150ms ease-in-out;

    &:hover,
    &:focus {
      border-color: $blue;
    }

    &:focus {
      color: #3f454a;
    }

    &:not(&--on):not(:focus):empty + label {
      color: #666;
      font-size: rem(13);
      top: rem(30);
    }

    @media (min-width: $media-sm) {
      margin-bottom: rem(20);
      position: static;
    }
  }

  &__label,
  &__input:focus + &__label {
    color: #a6b0b7;
    font-size: rem(12);
    font-weight: 400;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    top: rem(5);
  }

  &__buttons {
    display: flex;
    position: absolute;
    top: rem(25);
    right: rem(20);

    @media (min-width: $media-sm) {
      position: static;
    }
  }

  &__button {
    background-color: transparent;
    border: 0 none;
    color: $blue;
    cursor: pointer;
    font-size: rem(12);
    font-weight: 400;
    margin-right: rem(20);
    padding: 0;
    outline: none;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;

    &:first-child {
      margin-right: 0;
    }

    &--cancel {
      order: -1;

      @media (min-width: $media-sm) {
        order: initial;
      }
    }

    @media (min-width: $media-sm) {
      background-color: white;
      border: rem(1) solid $blue;
      border-radius: rem(2);
      font-weight: 700;
      height: rem(32);
      width: rem(96);

      &:hover {
        border-color: #727e88;
        color: #727e88;
      }
  
      &--save {
        background-color: $blue;
        color: white;
  
        &:hover {
          background-color: darken($blue, 10%);
          border-color: darken($blue, 10%);
          color: white;
        }
      }

      &:first-child {
        margin-right: rem(20);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}