.followers {
  align-items: center;
  bottom: rem(-6);
  display: inline-flex;
  position: static;
  right: 0;

  @media (min-width: $media-sm) {
    position: absolute;
  }

  &__icon {
    fill: #9ea6ac;
    height: rem(26);
    stroke: #9ea6ac;
    margin-right: rem(5);
    width: rem(26);

    @media (min-width: $media-sm) {
      fill: #c5d3dd;
      stroke: #c5d3dd;
      margin-right: rem(10);
    }
  }

  &__value {
    color: #3f454a;
    font-size: rem(13);
    font-weight: 400;
    line-height: rem(24);

    @media (min-width: $media-sm) {
      color: #a6b0b7;
    }

    &:before {
      color: #3f454a;
      content: attr(data-followers) ' ';
      font-size: rem(14);
      font-weight: 600;
    }
  }
}