.menu {
  box-shadow: 0 rem(1) rem(6) 0 rgba(114, 126, 136, .28);
  margin: 0 rem(-20) rem(-20);
  padding-left: 0;
  transition: all 150ms ease-in-out;

  @media (min-width: $media-sm) {
    padding-left: rem(205);
  }

  &__list {
    align-items: stretch;
    background-color: white;
    display: flex;
    height: rem(58);
    overflow: overlay;
    padding: 0 rem(15);
    position: relative;
    z-index: 100;
    transition: all 150ms ease-in-out;
    max-width: 100%;

    &::-webkit-scrollbar {
      background-color: transparent;
      height: 0;
      width: 0;
    }
   
    &::-webkit-scrollbar-track {
      background-color: transparent;
      height: 0;
      width: 0;
    }
   
    &::-webkit-scrollbar-thumb {
      box-shadow: none;
      height: 0;
      width: 0;
    }

    @media (min-width: $media-sm) {
      display: inline-flex;
      padding: 0;
    }
  }

  &__item {
    align-items: stretch;
    display: flex;
    padding: 0 rem(8);
    transition: all 150ms ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #f9f9f9;
    }

    @media (min-width: $media-sm) {
      padding: 0 rem(15);
    }
  }

  &__link {
    align-items: center;
    color: #3f454a;
    display: inline-flex;
    font-size: rem(13);
    font-weight: 400;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &:after {
      background-color: transparent;
      content: '';
      height: rem(2);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      transition: all 150ms ease-in-out;
    }

    &:hover {
      &:after {
        background-color: $blue;
        width: 30%;
      }
    }

    &--on,
    &--on:hover {
      &:after {
        background-color: $blue;
        width: 100%;
      }
    }

    @media (min-width: $media-sm) {
      font-size: rem(15);
    }
  }
}