.profile {
  $profile: &;

  &__list {
    display: block;
  }

  &__item {
    align-items: stretch;
    margin-bottom: rem(1);
    display: flex;
    height: rem(30);
    position: relative;
    transition: all 150ms ease-in-out;

    @media (min-width: $media-sm) {
      height: rem(38);
    }

    &:last-child {
      .edit-profile {
        top: auto;
        bottom: rem(-36);

        &:before {
          top: auto;
          bottom: rem(43);
        }
      }
    }

    &:nth-last-child(2) {
      .edit-profile {
        top: auto;
        bottom: rem(-75);

        &:before {
          top: auto;
          bottom: rem(82);
        }
      }
    }

    &--name {
      #{$profile}__value {
        font-size: rem(16);
        font-weight: 600;
      }
    }
  }

  &__content {
    display: inline-block;
    position: relative;
  }

  &__icon {
    fill: #a8b8c4;
    flex: 0 0 auto;
    stroke: #a8b8c4;
    height: rem(18);
    margin-right: rem(8);
    width: rem(18);
  }

  &__label {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    padding: 0 rem(25) 0 rem(5);
    transition: all 150ms ease-in-out;

    @media (min-width: $media-sm) {
      background-color: #f5f8f8;
    }
  }

  &__value {
    color: #3f454a;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(16);
  }

  &__edit {
    $edit: &;
    align-items: center;
    background-color: #ecf1f5;
    cursor: pointer;
    display: none;
    height: rem(38);
    justify-content: center;
    width: rem(42);
    transition: all 150ms ease-in-out;

    &:hover {
      background-color: $blue;

      #{$edit}-icon {
        fill: white;
      }
    }

    @media (min-width: $media-sm) {
      display: inline-flex;
    }

    &--mobile {
      display: inline-flex;
      position: absolute;
      top: rem(14);
      right: rem(20);

      @media (min-width: $media-sm) {
        display: none;
      }
    }

    &-icon {
      fill: #727e88;
      height: rem(20);
      width: rem(20);
      transition: all 150ms ease-in-out;
    }
  }
}