.reviews {
  display: block;
  margin: rem(10) 0 rem(15);
  transition: all 150ms ease-in-out;

  @media (min-width: $media-sm) {
    align-items: center;
    display: flex;
    margin: 0;
  }

  &__stars {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 rem(5);

    @media (min-width: $media-sm) {
      margin: 0 rem(30) 0;
    }
  }

  &__icon {
    fill: $blue;
    stroke: $blue;
    height: rem(18);
    margin-right: rem(5);
    width: rem(18);

    &:last-child {
      margin-right: 0;
    }

    @media (min-width: $media-sm) {
      fill: #727e88;
      stroke: #727e88;
    }
  }

  &__value {
    color: #3f454a;
    display: block;
    font-size: rem(13);
    font-weight: 400;
    line-height: rem(24);
    text-shadow: rem(-.5) 0 white, 0 rem(.5) white, rem(.5) 0 white, 0 rem(-.5) white;

    &:before {
      color: #3f454a;
      content: attr(data-reviews) ' ';
      font-size: rem(14);
      font-weight: 600;
    }
  }
}