.user {
  $user: &;
  display: block;
  margin-bottom: 0;
  width: 100%;
  padding-bottom: rem(15);
  transition: all 150ms ease-in-out;

  @media (min-width: $media-sm) {
    margin-bottom: rem(-37);
    padding-bottom: 0;
  }

  &__front {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 50;
    transition: all 150ms ease-in-out;

    @media (min-width: $media-sm) {
      flex-flow: row nowrap;
    }
  }

  &__info {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;

    @media (min-width: $media-sm) {
      flex-flow: row nowrap;
    }

    &:before {
      background: white;
      bottom: rem(-21);
      content: '';
      display: none;
      height: rem(58);
      left: rem(-21);
      position: absolute;
      width: 130%;
      z-index: -1;

      @media (min-width: $media-sm) {
        display: block;
      }
    }
  }

  &__picture {
    box-shadow: 0 rem(1) rem(24) 0 rgba(189, 196, 201, .7);
    height: rem(170);
    margin: 0 0 rem(15);
    overflow: hidden;
    position: relative;
    width: rem(170);
    transition: all 150ms ease-in-out;
    
    @media (min-width: $media-sm) {
      margin: 0 rem(30) 0 0;
    }

    &:hover {
      #{$user}__image-label {
        top: 50%;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 120%;
    max-height: 135%;
    min-height: 100%;
    min-width: 100%;

    &-label {
      background-color: white;
      border: rem(1) solid #d0dce7;
      border-radius: rem(2);
      color: #3f454a;
      cursor: pointer;
      font-size: rem(13);
      font-weight: 400;
      line-height: rem(14);
      left: 50%;
      top: 0;
      opacity: 0;
      padding: rem(10) rem(10);
      position: absolute;
      text-align: center;
      visibility: hidden;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      z-index: 50;
      transition: all 200ms ease-in-out;

      &:hover {
        border-color: $blue;
        background-color: $blue;
        color: white;
      }
    }

    &-input {
      display: none;
    }
  }

  &__description {
    width: 100%;

    @media (min-width: $media-sm) {
      width: auto;
    }
  }

  &__name {
    color: #333;
    display: block;
    font-size: rem(20);
    font-weight: 600;
    line-height: rem(24);
    margin-bottom: rem(13);
    text-align: center;
    text-shadow: rem(-.5) 0 white, 0 rem(.5) white, rem(.5) 0 white, 0 rem(-.5) white;

    @media (min-width: $media-sm) {
      margin-bottom: rem(5);
      text-align: left;
    }
  }

  &__address,
  &__phone {
    align-items: center;
    color: #333;
    display: inline-flex;
    font-size: rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: rem(24);
    margin-bottom: rem(3);
    text-shadow: rem(-.5) 0 white, 0 rem(.5) white, rem(.5) 0 white, 0 rem(-.5) white;
    transition: all 150ms ease-in-out;
    width: 100%;
  }

  &__address {
    margin-left: rem(-4);

    #{$user}__icon {
      margin-right: rem(14);
    }
  }

  &__icon {
    fill: #727e88;
    stroke: #727e88;
    flex: 0 0 auto;
    margin-right: rem(10);
    height: rem(18);
    width: rem(18);
  }
}