.content {
  margin-top: rem(10);
  transition: all 150ms ease-in-out;

  @media (min-width: $media-sm) {
    margin-top: rem(35);
  }

  &__center {
    background-color: white;
    box-shadow: $card-shadow;
    min-height: rem(150);
    padding: rem(20);
    position: relative;
    transition: all 150ms ease-in-out;

    @media (min-width: $media-sm) {
      min-height: rem(250);
      padding: rem(35);
    }
  }

  &__title {
    color: #727e88;
    display: inline-block;
    font-size: rem(20);
    font-weight: 400;
    line-height: rem(22);
    margin-bottom: rem(15);
    transition: all 150ms ease-in-out;
    position: relative;
    z-index: 120;

    @media (min-width: $media-sm) {
      display: block;
      font-size: rem(24);
      margin-bottom: rem(30);
      position: static;
    }
  }
}