.header {
  &__center {
    background-color: white;
    box-shadow: $card-shadow;
    padding: 20vh rem(20) rem(20);
    overflow: hidden;
    position: relative;
    transition: all 150ms ease-in-out;

    @media (min-width: $media-sm) {
      padding: rem(110) rem(20) rem(20);
    }
  }

  &__logout {
    border: rem(1) solid $blue;
    border-radius: rem(2);
    color: $blue;
    cursor: pointer;
    font-size: rem(12);
    font-weight: 700;
    line-height: rem(15);
    padding: rem(5) rem(20);
    position: absolute;
    right: rem(20);
    text-decoration: none;
    text-transform: uppercase;
    top: rem(20);
    z-index: 50;
    transition: all 150ms ease-in-out;

    &:hover {
      background-color: $blue;
      color: white;
    }
  }
}