body {
  background-color: #f5f8f9;
  font: 400 100%/1 $font-family;
  padding: 0 0 rem(35);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 150ms ease-in-out;

  @media (min-width: $media-sm) {
    padding: rem(40) 0;
  }
}

.center {
  margin: 0 auto;
  max-width: rem(1170);
  width: 100%;
  
  @media (min-width: $media-sm) {
    padding: rem(40) 0;
    width: calc(100% - 30px);
  }
}

.svg-sprite {
  display: none;
}

.ionicon-fill-none {
  fill: none;
}
.ionicon-stroke-width {
  stroke-width: 32px;
}