// Font 
$font-family: 'Open Sans', sans-serif;
$remBase: 16px;

// Colors
$card-shadow: 0 rem(1) rem(6) 0 rgba(114, 126, 136, .28);
$blue: #007ee5;

// Media queries
$media-xs: 320px;
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xlg: 1200px;