<header class="header">
  <div class="header__center center">
    <a href="#" class="header__logout">Log out</a>
    ${require('../components/user.html')}
    ${require('../components/menu.html')}
  </div>
</header>