<div class="cover-image">
  <img class="cover-image__image" alt="" data-storage-image="profile-cover-image" />
  <label for="cover-image__input" class="cover-image__placeholder">
      Upload Cover Image
    </label>
  <input type="file" id="cover-image__input" class="cover-image__input" accept="image/*">
</div>