<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a href="#home" class="menu__link" data-link="Home">About</a>
    </li>
    <li class="menu__item">
      <a href="#settings" class="menu__link" data-link="Settings">Settings</a>
    </li>
    <li class="menu__item">
      <a href="#option1" class="menu__link" data-link="Option1">Option1</a>
    </li>
    <li class="menu__item">
      <a href="#option2" class="menu__link" data-link="Option2">Option2</a>
    </li>
    <li class="menu__item">
      <a href="#option3" class="menu__link" data-link="Option3">Option3</a>
    </li>
  </ul>
</nav>