<section class="profile">
  <span class="profile__edit profile__edit--mobile" data-fields='[
  {
    "label": "First name",
    "name": "first-name",
    "type": "text"
  },
  {
    "label": "Last name",
    "name": "last-name",
    "type": "text"
  },
  {
    "label": "Website",
    "name": "website",
    "type": "url"
  },
  {
    "label": "Phone number",
    "name": "phone",
    "type": "text"
  },
  {
    "label": "City, State & ZIP",
    "name": "address",
    "type": "text"
  }
  ]'>
    <svg class="profile__edit-icon">
      <use xlink:href="#pencil-sharp" />
    </svg>
  </span>
  ${require('../templates/edit-profile.html')}
  <ul class="profile__list">
    <li class="profile__item profile__item--name">
      <div class="profile__label">
        <span class="profile__value" data-storage="profile-fullname"></span>
      </div>
      <div class="profile__content">
        <span class="profile__edit" data-fields='[{
          "label": "Full name",
          "name": "fullname",
          "type": "text"
        }]'>
          <svg class="profile__edit-icon">
            <use xlink:href="#pencil-sharp" />
          </svg>
        </span>
      </div>
    </li>
    <li class="profile__item profile__item--website">
      <div class="profile__label">
        <svg class="profile__icon">
          <use xlink:href="#earth" />
        </svg>
        <span class="profile__value" data-storage="profile-website"></span>
      </div>
      <div class="profile__content">
        <span class="profile__edit" data-fields='[{
          "label": "Website",
          "name": "website",
          "type": "url"
        }]'>
          <svg class="profile__edit-icon">
            <use xlink:href="#pencil-sharp" />
          </svg>
        </span>
      </div>
    </li>
    <li class="profile__item profile__item--phone">
      <div class="profile__label">
        <svg class="profile__icon">
          <use xlink:href="#call-outline" />
        </svg>
        <span class="profile__value" data-storage="profile-phone"></span>
      </div>
      <div class="profile__content">
        <span class="profile__edit" data-fields='[{
          "label": "Phone number",
          "name": "phone",
          "type": "text"
        }]'>
          <svg class="profile__edit-icon">
            <use xlink:href="#pencil-sharp" />
          </svg>
        </span>
      </div>
    </li>
    <li class="profile__item profile__item--address">
      <div class="profile__label">
        <svg class="profile__icon">
          <use xlink:href="#home-outline" />
        </svg>
        <span class="profile__value" data-storage="profile-address"></span>
      </div>
      <div class="profile__content">
        <span class="profile__edit" data-fields='[{
          "label": "City, state & zip",
          "name": "address",
          "type": "text"
        }]'>
          <svg class="profile__edit-icon">
            <use xlink:href="#pencil-sharp" />
          </svg>
        </span>
      </div>
    </li>
  </ul>
</section>