<div class="user">
    ${require('./cover-image.html')}
    <div class="user__front">
      <div class="user__info">
        <picture class="user__picture">
          <img src="../../images/profile_image.jpg" alt="Jessica Parker" class="user__image" data-storage-image="profile-image">
          <label for="user__image-input" class="user__image-label">Upload Image</label>
          <input type="file" id="user__image-input" class="user__image-input" accept="image/*">
        </picture>
        <div class="user__description">
          <span class="user__name" data-storage="profile-fullname"></span>
          <address class="user__address">
            <svg class="user__icon">
              <use xlink:href="#location-outline"/>
            </svg>
            <span class="user__address-value" data-storage="profile-address"></span>
          </address>
          <span class="user__phone">
            <svg class="user__icon">
              <use xlink:href="#call-outline" />
            </svg>
            <span class="user__phone-value" data-storage="profile-phone"></span>
          </span>
        </div>
      </div>
      <div class="user__right">
        ${require('./reviews.html')}
        <span class="followers">
          <svg class="followers__icon">
            <use xlink:href="#add-circle-sharp" />
          </svg>
          <span class="followers__value" data-followers="15">
            Followers
          </span>
        </span>
      </div>
    </div>
  </div>