<template id="edit-profile">
  <div class="edit-profile">
      <ul class="edit-profile__list">
    
      </ul>
      <div class="edit-profile__buttons">
        <button class="edit-profile__button edit-profile__button--save">Save</button>
        <button class="edit-profile__button edit-profile__button--cancel">Cancel</button>
      </div>
      <template id="edit-profile__item">
        <li class="edit-profile__item">
          <input type="text" class="edit-profile__input" value=""/>
          <label class="edit-profile__label"></label>
        </li>
      </template> 
    </div>
</template>