<template class="template--stars" data-score="0">
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
</template>
<template class="template--stars" data-score="0.5">
  <svg class="reviews__icon">
    <use xlink:href="#star-half-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
</template>
<template class="template--stars" data-score="1">
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
</template>
<template class="template--stars" data-score="1.5">
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-half-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
</template>
<template class="template--stars" data-score="2">
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
</template>
<template class="template--stars" data-score="2.5">
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-half-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
</template>
<template class="template--stars" data-score="3">
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
</template>
<template class="template--stars" data-score="3.5">
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-half-outline" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
</template>
<template class="template--stars" data-score="4">
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-outline" />
  </svg>
</template>
<template class="template--stars" data-score="4.5">
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star-half-outline" />
  </svg>
</template>
<template class="template--stars" data-score="5">
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
  <svg class="reviews__icon">
    <use xlink:href="#star" />
  </svg>
</template>